.search-form {
    background-image: linear-gradient(to right bottom, #FBDB89, #F48982);
    background-size: cover;
    background-repeat: no-repeat;
    //background-color: #fff;
    border-radius: 10rem;
    justify-content: space-between;
    height: 60px;
    width:30%;
    display: flex;
    height: 100%;
}