nav {
    display: flex;
    justify-content: space-between;
    background-color: gold;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
}

/* logo is class */
.logo {
    text-align: center;
    font-size: 30px;
    color: blue;   
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-right: 8px;
    text-align: center;
    padding: 8px;
}

li a{
    text-decoration: none;
}

li a:hover {
    background-color: rgb(25, 212, 34);
  }