.sign-in {
    width: 30vw;
    padding:10px 200px;
    display: flex;
    flex-direction: column;
}

.title {
    margin: 10px 0px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}