nav {
    display: flex;
    justify-content: space-between;
    background-color: gold;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
}

/*There are 2 h2 ==> inline-block help 2 h2 in the same line*/
h2 {
    display: inline-block;
    text-align: center;
    font-size: 30px;
    color: blue;   
    padding: 6px;  
}

nav ul {
    list-style: none;
}

/*inline-block helps each li is on the same line*/
nav ul li {
    display: inline-block;
    margin-right: 8px;
    text-align: center;
    padding: 8px;
}

li a{
    text-decoration: none;
}

.logo a:hover, li a:hover {
    background-color: rgb(25, 212, 34);
    border-radius: 10px 0px 10px 0px;
  }

  p {
    margin: 0;
    padding: 0;
}
