.buttonIcon {
    position: relative;
    right: 10px;
    display: inline-flex;
    justify-content: space-between;
    

    .icon {
        width: 50px;
        border-radius: 10px;
        height: 30px;
    }

    .button {
        padding: 1rem 1rem;
        font-size: 1.4rem;
        height: 4rem;
        width: 10rem;
        text-align: center;
    }
}